.explication {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 2% 0;

    h2 {
        font-family: var(--font-primary);
        font-size: var(--font-size-h2);
        font-weight: bold;
        color: var(--color-secondary);
        margin: 2% 0;
    }
    p {
        font-size: var(--font-size-content);
        font-family: var(--font-secondary);
        margin: 2% 0;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @media screen and (max-width: 850px) {
        display: block;
        margin: 2% 0;
    }
}
.card-right {
    grid-column-start: 2;
    grid-column-end: 4;
}
.card-left {
    grid-column-start: 1;
    grid-column-end: 3;
}

.card {
    color: var(--color-white);
    position: relative;
    text-transform: uppercase;
    width: 100%;

    &:hover {
        .card__media::after {
            background: rgba(0, 0, 0, 0.5);
            opacity: 1;
            color: var(--color-white);
        }
        .card__content {
            display: flex;

            color: var(--color-white);
        }
    }
    @media screen and (max-width: $breakpoint-md) {
        justify-content: center;
    }
}

.card__media {
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        display: block; // enlever l'espace dessous
        height: 100%;
        transition: transform 0.6s ease-in-out;
        object-fit: cover;
        max-height: 500px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background 0.6s ease-in-out; // on peut enlever complètement ça sur le hover si tu trouve que ça fait trop
        background: rgba(0, 0, 0, 0);
    }
}

.card__content {
    padding: var(--spacing-md);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    h2 {
        color: var(--color-primary);
        max-width: 50%;
    }
}
.favorie {
    width: 15%;
    height: 100%;
}

.card__title {
    display: flex;
    align-items: center;
    font-size: var(--font-size-h4);
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.2em;
    gap: 20px;
    

    &::before {
        content: '';
        background: var(--color-white);
        height: 2px;
        width: 0;
        transition: all $ease-in-out-quad 0.4s;
    }
    @media screen and (max-width: 500px) {
        font-size: 1rem;
    }
}

.galery {
    margin: 2% 0;
}
