/* ==========================================================================
   carousel / component
   ========================================================================== */

.swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    position: static;
}
.swiper-pagination-bullet {
    --size: 10px;

    border: 10px solid var(--color-primary);
    border-radius: 100%;
    height: var(--size);
    margin: 0 5px;
    transition: border 0.4s ease-out;
    width: var(--size);
}

.swiper-pagination-bullet-active {
    border-width: var(--size);
}

.swiper-full {
    overflow: visible;
}
.section {
    overflow: hidden; // Empêche l'apparition de la barre de défilement horizontale
}
