.footer {
    background-color: var(--color-bg-primary);
}.footer-gage{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: var(--color-black);
    }
    .logo h3 {
        color: var(--color-black);
    }
}
.footer-logo::before {
    content: "";
    background: var(--color-black);
    position: absolute;
    bottom: 1px;
    right: 10px;
    height: 100%;
    width: 0.1%;
}

.footer_info1 {
    position: relative;
    display: flex;
    text-align: right;
    flex-direction: column;
    color: var(--color-primary);

    h4 {
        font-family: var(--font-secondary);
        font-size: var(--font-size-h4);
        margin-top: 0;
        margin-bottom: 32px;
    }
    p {
        font-family: var(--font-secondary);
        font-size: var(--font-size-p);
    }
    .footer_size {
        max-width: 285px;
        margin-left: auto;
    }
}
.footer_info1::before {
    content: '';
    position: absolute;
    left: 110%;
    bottom: 50%;
    height: 50%;
    width: 1px;
    border-right: 1px solid var(--color-secondary);

    @media screen and (max-width: 800px) {
        left: 0;
        bottom: 0;
        height: 1px;
        width: 325px;
        border-right: 0 solid var(--color-secondary);
        border-bottom: 1px solid var(--color-secondary);
    }
    @media screen and (max-width: 400px) {
        width: 0;
    }
}
.footer_info3::before {
    content: '';
    position: absolute;
    right: 110%;
    bottom: 50%;
    height: 50%;
    width: 1px;
    border-right: 1px solid var(--color-secondary);
    @media screen and (max-width: 800px) {
        left: -63%;
        bottom: 105%;
        height: 1px;
        width: 325px;
        border-right: 0 solid var(--color-secondary);
        border-top: 1px solid var(--color-secondary);
    }
    @media screen and (max-width: 400px) {
        width: 0;
    }
}

.nav-social {
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        gap: 10px;
        list-style: none;
        padding: 0;
    }
}

.nav__link {
    $size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-black);
    border-radius: 100%;
    color: var(--color-white);
    height: $size;
    transition: all 0.2s ease-out;
    width: $size;

    &:hover {
        transform: scale(1.4);
        color: var(--color-primary);
    }
}
.social:hover {
    background: var(--color-white);
}
.copyright {
    color: var(--color-black);
    text-align: center;
    margin-bottom: 0;
}
