/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #b22222;
    --color-secondary: #6b8e23;
    --color-bg-primary: #faf3e0;
    --color-bg-secondary: #f0f0f0;
}
