{% include '_partials/_header.html' %}
<section class="hero">
    <div class="hero_media">
        <img src="/assets/images/cakepresentation.jpg" alt="" />
    </div>
    <div class="hero_content">
        <div class="wrapper contenu">
            <h1>
                Un delice, <br />
                À chaque bouché!
            </h1>
        </div>
    </div>
</section>
<section class="explication">
    <div class="wrapper">
        <h2>Les Douceur du palais</h2>
        <p>
            Le cheesecake et le gâteau au chocolat sont les vrais VIP des buffets. Pourquoi? Parce qu'ils savent jouer
            avec nos émotions! Le premier, crémeux et suave, nous cajole comme une grand-mère. Le second, intense et
            fondant, déclenche un feu d'artifice gustatif. Ensemble, ils forment un duo irrésistible, comme Batman et
            Robin, mais en version "délice absolu." À chaque bouchée, ils volent le show!
        </p>
        <div class="cards">
            <a class="card card-left" href="./recette.html">
                <div class="card__media">
                    <img src="assets/images/chessecake.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h2 class="card__title">cheesecake</h2>
                    <div class="favorie"><img src="./assets/images/heart-svgrepo-com.png" alt="" /></div>
                </div>
            </a>
            <a class="card card-right" href="./recette.html">
                <div class="card__media">
                    <img src="assets/images/chocolatcake.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h2 class="card__title">gateau au chocolat</h2>
                    <div class="favorie"><img src="./assets/images/heart-svgrepo-com.png" alt="" /></div>
                </div>
            </a>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
