{% include '_partials/_header.html' %}

<section class="hero">
    <div class="hero_media">
        <img src="/assets/images/cakepresentation_recette.jpg" alt="" />
    </div>
    <div class="hero_content">
        <div class="wrapper contenu">
            <h1>
                Un delice, <br />
                À chaque bouché!
            </h1>
        </div>
    </div>
</section>
<section class="explication">
    <div class="wrapper">
        <h2>Le Duel des Douceurs</h2>
        <p>
            Aujourd'hui, quatre prétendants se disputent vos papilles. Le cheesecake, riche et onctueux, et le gâteau au
            chocolat, intense et fondant, mènent la danse. Mais ne sous-estimez pas le gâteau des anges, léger comme un
            nuage, et le classique gâteau à la vanille, doux et réconfortant. Qui remportera la couronne de votre cœur
            sucré? Une chose est sûre, peu importe votre choix, c’est un pari gagnant pour vos papilles!
        </p>
        <div class="cards">
            <a class="card card-left" href="./recette.html">
                <div class="card__media">
                    <img src="assets/images/chessecake.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h2 class="card__title">cheesecake</h2>
                    <div class="favorie"><img src="./assets/images/heart-svgrepo-com.png" alt="" /></div>
                </div>
            </a>
            <a class="card card-right" href="./recette.html">
                <div class="card__media">
                    <img src="assets/images/chocolatcake.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h2 class="card__title">gateau au chocolat</h2>
                    <div class="favorie"><img src="./assets/images/heart-svgrepo-com.png" alt="" /></div>
                </div>
            </a>
            <a class="card card-left" href="./recette.html">
                <div class="card__media">
                    <img src="assets/images/vanillacake.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h2 class="card__title">gâteau à la vanille</h2>
                </div>
            </a>
            <a class="card card-right" href="./recette.html">
                <div class="card__media">
                    <img src="assets/images/angelcake.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h2 class="card__title">gâteau au ange</h2>
                </div>
            </a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
