{% include '_partials/_header.html' %}

<section class="hero recette">
    <div class="hero_media">
        <img src="./assets/images/chessecake.jpg" alt="" />
    </div>
    <div class="hero_content">
        <div class="wrapper contenu">
            <h1>chessecake</h1>
        </div>
    </div>
</section>
<section class="infromation">
    <div class="wrapper">
        <div class="information-grid">
            <div class="info-text">
                <strong>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <br />
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </strong>
            </div>
            <div class="sidebar">
                <div>
                    <h3>date de sortie</h3>
                    <p>2025 /13/34</p>
                </div>
                <div>
                    <h3>chef</h3>
                    <p>nicolas</p>
                </div>
                <div>
                    <h3>Temps de préparation</h3>
                    <p>25 minutes</p>
                </div>
                <div>
                    <h3>temps de cuisson</h3>
                    <p>2h</p>
                </div>
                <div>
                    <h3>ingrédient</h3>
                    <ul>
                        <li>ingrédient</li>
                        <li>ingrédient</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="galery">
    <div class="swiper" data-component="Carousel" data-slides="3" data-loop>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="assets/images/chessecake.jpg" alt="Photo d'une forêt" />
            </div>
            <div class="swiper-slide">
                <img src="assets/images/chessecake.jpg" alt="Photo d'une forêt" />
            </div>
            <div class="swiper-slide">
                <img src="assets/images/chessecake.jpg" alt="Photo d'une forêt" />
            </div>
            <div class="swiper-slide">
                <img src="assets/images/chessecake.jpg" alt="Photo d'une forêt" />
            </div>
            <div class="swiper-slide">
                <img src="assets/images/chessecake.jpg" alt="Photo d'une forêt" />
            </div>
            <div class="swiper-slide">
                <img src="assets/images/chocolatcake.jpg" alt="Photo d'une forêt" />
            </div>
        </div>
        <!-- N'oubliez pas votre pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>

{% include '_partials/_footer.html' %}
